In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2021-08-15 18:38:41,-34.4187,19.2345,57.90,80,39,6.29
1,1,Kavaratti,IN,2021-08-15 18:38:41,10.5669,72.6420,81.14,80,99,17.16
2,2,Busselton,AU,2021-08-15 18:38:42,-33.6500,115.3333,50.09,76,0,10.60
3,3,Shagonar,RU,2021-08-15 18:38:42,51.5333,92.8000,60.35,87,100,0.92
4,4,Chuguyevka,RU,2021-08-15 18:38:43,44.1653,133.8633,55.56,96,19,2.98

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kavaratti,IN,2021-08-15 18:38:41,10.5669,72.6420,81.14,80,99,17.16
6,6,Hilo,US,2021-08-15 18:38:43,19.7297,-155.0900,78.80,82,68,4.00
12,12,Broome,US,2021-08-15 18:34:16,42.2506,-75.8330,77.18,55,75,1.01
15,15,Atuona,PF,2021-08-15 18:38:46,-9.8000,-139.0333,78.13,69,69,19.04
24,24,Meulaboh,ID,2021-08-15 18:38:50,4.1363,96.1285,75.61,88,100,7.61
25,25,Ribeira Grande,PT,2021-08-15 18:38:50,38.5167,-28.7000,77.40,65,20,3.44
27,27,Kapaa,US,2021-08-15 18:38:51,22.0752,-159.3190,82.72,70,20,3.00
28,28,Lahan,NP,2021-08-15 18:38:51,26.7296,86.4951,80.06,83,99,5.03
30,30,Annamalainagar,IN,2021-08-15 18:38:52,11.4000,79.7333,81.70,71,100,13.15
34,34,Albany,US,2021-08-15 18:36:37,42.6001,-73.9662,79.03,51,100,1.01

In [21]:
preferred_cities_df.count()

City_ID       210
City          210
Country       210
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [29]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1        Kavaratti      IN     81.14  10.5669   72.6420
6             Hilo      US     78.80  19.7297 -155.0900
12          Broome      US     77.18  42.2506  -75.8330
15          Atuona      PF     78.13  -9.8000 -139.0333
24        Meulaboh      ID     75.61   4.1363   96.1285
25  Ribeira Grande      PT     77.40  38.5167  -28.7000
27           Kapaa      US     82.72  22.0752 -159.3190
28           Lahan      NP     80.06  26.7296   86.4951
30  Annamalainagar      IN     81.70  11.4000   79.7333
34          Albany      US     79.03  42.6001  -73.9662

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
print("Finished")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Finished

In [32]:
hotel_df.count()

City          210
Country       210
Max Temp      210
Lat           210
Lng           210
Hotel Name    210
dtype: int64

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kavaratti,IN,81.14,10.5669,72.6420,Hotels in Lakshadweep Islands
6,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Broome,US,77.18,42.2506,-75.8330,Chenango Valley State Park
15,Atuona,PF,78.13,-9.8000,-139.0333,Villa Enata
24,Meulaboh,ID,75.61,4.1363,96.1285,Kost Pria
25,Ribeira Grande,PT,77.40,38.5167,-28.7000,Quinta da Meia Eira
27,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Lahan,NP,80.06,26.7296,86.4951,Hotel Durbar Pvt. Ltd.
30,Annamalainagar,IN,81.70,11.4000,79.7333,Hotel Akshaya
34,Albany,US,79.03,42.6001,-73.9662,

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))