## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
1,8,Guapi,CO,76.86,broken clouds,2.5708,-77.8854,Hotel Emperador Guapí
2,9,Butaritari,KI,83.44,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
3,10,Santarem,BR,81.91,broken clouds,-2.4431,-54.7083,Ecotur Lodge
4,14,Kapaa,US,84.52,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name:</dt><dd>{Hotel Name}</dd>
<dt>City:</dt><dd>{City}</dd>
<dt>Country:</dt><dd>{Country}</dd>
<dt>Current Weather:</dt><dd>{Current Description}</dd>
<dt>Max Temp:</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Saint Anthony"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saint Anthony"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hamilton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Brigantine"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Fairview"]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
111,368,Saint Anthony,US,88.18,few clouds,45.0205,-93.218,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [17]:
vacationStart = (vacation_start.to_numpy().item(5), vacation_start.to_numpy().item(6))
vacationStart

(45.0205, -93.218)

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy().item(5), vacation_start.to_numpy().item(6))
end = (vacation_end.to_numpy().item(5), vacation_end.to_numpy().item(6))
stop1 = (vacation_stop1.to_numpy().item(5), vacation_stop1.to_numpy().item(6))
stop2 = (vacation_stop2.to_numpy().item(5), vacation_stop2.to_numpy().item(6))
stop3 = (vacation_stop3.to_numpy().item(5), vacation_stop3.to_numpy().item(6))

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig2 = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
                                            start,
                                            end,
                                            waypoints=[stop1,stop2,stop3],
                                            travel_mode='DRIVING'
                                            )
fig2.add_layer(vacation_itinerary)
fig2

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,368,Saint Anthony,US,88.18,few clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
1,368,Saint Anthony,US,88.18,few clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
2,540,Hamilton,US,78.24,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
3,294,Brigantine,US,77.32,scattered clouds,39.4101,-74.3646,Legacy Vacation Resorts Brigantine Beach
4,244,Fairview,US,76.86,clear sky,40.8126,-73.9990,Homewood Suites by Hilton Edgewater-NYC Area

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name:</dt><dd>{Hotel Name}</dd>
<dt>City:</dt><dd>{City}</dd>
<dt>Country:</dt><dd>{Country}</dd>
<dt>Current Weather:</dt><dd>{Current Description}</dd>
<dt>Max Temp:</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure(center=(41.3,-82.8),zoom_level=5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig3.add_layer(marker_layer)
# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))